core
*.*~
*.a
*.csv
*.xml
*.bak
*.bin
*.dbg
*.dcu
*.dll
*.drc
*.exe
*.identcache
*.local
*.lps
*.map
*.o
*.obj
*.or
*.ppu
*.res
*.res
*.rsj
*.rst
*.sublime-project
*.sublime-workspace
*.~*~
*~
*.png
__history
backup/*
media/*
dados/*
lib/*
*/backup/*
/src/*/backup/*
keystone-linux
